@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;500;700&family=Tinos:ital,wght@0,400;1,400;1,700&display=swap');

*{
    font font-family: 'Tinos', serif;
}

body, * {
    margin:0;
    padding: 0;
    /* background: #898D8B; */
    /* display: flex;
    min-height: 100vh;
    flex-direction: column; */
}

.navPrincipal{
    width: 100%;
    height: 120px;
    background: #43101F;
}

.navPrincipal ul{
    float: left;
    margin: 0;
}

.navPrincipal ul li{
    display: inline-block;
    padding: 50px 8px;
}
.navPrincipal ul li a{
    color: white;
    font-family: 'Tinos', sans-serif;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 7px 2px;

}

.navPrincipal ul li a:hover{
    background: yellow;
    background: url(../img/cerveja.png) no-repeat center;
    background-size: 40px;
}

.navPrincipal .logoNav {
    position: absolute;
    left: 50%;
    margin-left: -100px;
}

main {
    max-width: 1280px;
    margin: 0 auto;
    padding-bottom: 100px;
}
/* HOME  */

/* BANNER */

.carousel {
    text-align: center;
}

.carousel li {
    list-style: none;
}

/* COMPONENTES EM DESTAQUE  */

.destaque {
    position: relative;
    display: inline-block;
    width: 340px;
    height: 425px;
    background-color: #C68A32;
    text-align: center;
    /* border = tamanho, tipo, cor  */
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -11px 15px 25px -1px rgba(0,0,0,0.7);
    margin: 0px 40px;
    
}

.destaque img {
    max-width: 100%;
    margin-top: 5%;
}

.destaque h2 {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(19, 19, 68);
}

.destaque .valor {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: black;
    font-weight: 300;
    /* text-transform: uppercase; */
} 

.destaque .valor.riscado {
    font-size: 20px;
    color: black;
    display: block;
    text-decoration: line-through;
}

.destaque .valor small {
    /* text-decoration: none; */
}

.destaque .adicionarCarrinho {
    display: block;
    position: absolute;
    width: 95%;
    padding: 10PX 0px;
    left: 10px;
    bottom: 10px;
    background: #CCC;
    color: black;
    font-size: 20px;
    text-decoration: none;
    box-shadow: -11px 15px 25px -1px rgba(0,0,0,0.7);
    border-radius: 10px;
    transition: all 0,5s;
}

.destaque .adicionarCarrinho:hover {
    background: black;
    color: #CCC;
    transition: all 0,5s;
}


/* barra social midia  */

.social a {
    display: inline-block;
    width: 19%;
    text-align: center;
    padding: 25px 0px;
    color: #43101F;
    text-decoration: none;
    line-height: 0;
    transition: all 1s;
}

.social a i {
    color: #898D8B;
}

.social a:hover {
    color: #C68A32;
    font-size: 20px;
    transition: all 1s;
}

/* FOOTER  */

.rodape {
    width: 100%;
    height:;
    background: #43101F;
    position: fixed;
    bottom: 0;
    padding: 15px 0px;
}

.rodape .copy {
    padding-left: 15px;
}

.rodape a{
    float: right;
    padding-right: 15px;
}

.rodape .copy, .rodape a{
    font-size: 14px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}


/* pagina empresa  */

.container {
    /* background: #898D8B; */
    width: 60%;
    margin: 10px;
    margin-left: 17%;
    text-align: justify;
    /* position: absolute; */
    
}


.container .empresa {
    padding: 20px;
}

.container .empresa h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7em;
    color: #43101F;
    text-align: center;
}

.container .empresa p {
    color: black;
    font-size: 20px;
}

.container .imgEmpresa img {
    /* position: absolute; */
    width: 100%;
    margin: 0;
    padding: 0px;
}


/* PAGINA CLIENTES E PARCEIROS  */

.containerClientes .clientes .parceiro img {
    display: block;
    width: 150px;
    margin-top: 20px;
    float: left;
    margin: 10px 53px;
}

.cliente2 p {
    margin-top: 20px;

}